<h1>Welcome to the Project's page</h1>

<p>Add an project to the database:</p>

<form action="/projects" method="post">
  <label for="title">Project's title:</label>
  <input id="title" name="title" type="text">

  <button type="submit">Create Project</button>
</form>

<h3>Here are all the projects in this database:</h3>

<% if @projects.any?() %>
  <p>Click on an project to see information about them and see which volunteers are assigned to them:</p>

  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id() %>"><%= project.title() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no projects added yet!</p>
<% end %>

<p>Add an volunteer to the database:</p>

<form action="/volunteers" method="post">
  <label for="name">Volunteers's name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add volunteer</button>
</form>


<h3>Here are all the volunteers in this database:</h3>

<% if @volunteers.any?() %>
  <p>Click on an volunteer to see information about them and add them to projects:</p>

  <ul>
    <% @volunteers.each do |volunteer| %>
      <li><a href="/volunteers/<%= volunteer.id() %>"><%= volunteer.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no volunteers added yet!</p>
<% end %>
